<!DOCTYPE html>
<html class="html__responsive  html__fixed-top-bar">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title }} - {{ shared.site_details.site_title }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ to_root }}favicon.ico" />
        <link rel="apple-touch-icon" href="{{ to_root }}apple-touch-icon.png" />
        <link rel="image_src" href="{{ to_root }}apple-touch-icon.png" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
        <meta name="to_root" content="{{ to_root }}" />
        <link rel="stylesheet" type="text/css" href="{{ to_root }}static/css/stacks.css" />
        <link id="primary_css" rel="stylesheet" type="text/css" href="{{ to_root }}static/css/primary.css" />
        <link id="secondary_css" rel="stylesheet" type="text/css" href="{{ to_root }}static/css/secondary.css" />
        <link rel="stylesheet" type="text/css" href="{{ to_root }}static/css/sotoki.css" />
        {% if shared.site_details.highlight %}<link rel="stylesheet" href="{{ to_root }}static/css/highlight.default.min.css">{% endif %}
        <style type="text/css">
            a.external-link { background-image: url('{{ to_root }}static/img/external-link-ltr-icon.svg'); }
        </style>
        <script type="text/javascript" src="{{ to_root }}static/js/jdenticon.min.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-hero.polyfill.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-hero.bundle.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-handler.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/identicons.js"></script>
        <script src="{{ to_root }}static/js/moment.min.js"></script>
        {% if shared.site_details.highlight %}
        <script src="{{ to_root }}static/js/highlight.min.js"></script>
        <script src="{{ to_root }}static/js/hljs-trigger.js"></script>
        {% endif %}
        {% if shared.site_details.mathjax %}
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
                    tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
                    TeX: {
                        extensions: ["begingroup.js"],
                        noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
                        Macros: { href: "{}" }
                    },
                    messageStyle: "none",
                    styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
                    SEEditor: "mathjaxEditing"
            });
        </script>
        <script src="{{ to_root }}static/js/MathJax.js?config=TeX-AMS_HTML-full"></script>
        {% endif %}
    </head>
    <body class="{{ body_class}} unified-theme">
        <header data-is-here-when="sm" class="s-topbar ps-fixed t0 l0 js-top-bar">
            <div class="s-topbar--container pl8">
                <ol class="s-navigation fw-nowrap" role="presentation">
                    <li><a class="s-navigation--item{% if whereis == 'questions' %} is-selected{% endif %}" href="{{ to_root }}questions">Questions</a></li>
                    <li><a class="s-navigation--item{% if whereis == 'tags' %} is-selected{% endif %}" href="{{ to_root }}tags">Tags</a></li>
                    {% if not context.without_user_profiles %}<li><a class="s-navigation--item{% if whereis == 'users' %} is-selected{% endif %}" href="{{ to_root }}users">Users</a></li>{% endif %}
                    <li><a class="s-navigation--item{% if whereis == 'about' %} is-selected{% endif %}" href="{{ to_root }}about">About</a></li>
                </li>
                </ol>
            </div>
        </header>
        <header data-is-here-when="sm" class="kiwix-topbar-fill s-topbar"></header>
        {{ shared.site_details.header_html|rewrote(to_root) }}
        {% block fullwidth %}{% endblock %}
        <div class="container">
            <div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
                <div class="left-sidebar--sticky-container js-sticky-leftnav">
                    <nav role="navigation">
                        <ol class="nav-links">
                            <li>
                                <ol class="nav-links">
                                    <li>
                                        <a id="nav-home" href="{{ to_root }}" class="pl8 js-gps-track nav-links--link -link__with-icon">
                                            <img aria-hidden="true" class="svg-icon iconHome" src="{{ to_root }}static/img/home.svg">
                                            <span class="-link--channel-name pl8">Home</span>
                                        </a>
                                    </li>
                                    <li class="{% if whereis == 'questions' %}youarehere{% endif %}">
                                        <a id="nav-questions" href="{{ to_root }}questions" class="pl8 js-gps-track nav-links--link -link__with-icon">
                                            <img aria-hidden="true" class="svg-icon iconQuestion" src="{{ to_root }}static/img/question.svg">
                                            <span class="-link--channel-name pl8">Questions</span>
                                        </a>
                                    </li>
                                    <li class="{% if whereis == 'tags' %}youarehere{% endif %}">
                                        <a id="nav-tags" href="{{ to_root }}tags" class="pl8 js-gps-track nav-links--link -link__with-icon">
                                            <img aria-hidden="true" class="svg-icon iconTags" src="{{ to_root }}static/img/tag.svg">
                                            <span class="-link--channel-name pl8">Tags</span>
                                        </a>
                                    </li>
                                    {% if not context.without_user_profiles %}
                                    <li class="{% if whereis == 'users' %}youarehere{% endif %}">
                                        <a href="{{ to_root }}users" id="nav-users" class="pl8 js-gps-track nav-links--link -link__with-icon">
                                            <img aria-hidden="true" class="svg-icon iconPeople" src="{{ to_root }}static/img/people.svg">
                                            <span class="-link--channel-name pl8">Users</span>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="{% if whereis == 'about' %}youarehere{% endif %}">
                                        <a href="{{ to_root }}about" id="nav-about" class="pl8 js-gps-track nav-links--link -link__with-icon">
                                            <img aria-hidden="true" class="svg-icon iconAnswer" src="{{ to_root }}static/img/people.svg">
                                            <span class="-link--channel-name pl8">About</span>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div id="content" class="">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <script src="{{ to_root }}static/js/stack-icons.js"></script>
        <script src="{{ to_root }}static/js/fromnow.js"></script>
        {% block bodytail %}{% endblock %}
    </body>
</html>
