<!DOCTYPE html>
<html class="html__responsive  html__fixed-top-bar">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ title }} - {{ site_subtitle }}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ to_root }}favicon.ico" />
        <link rel="apple-touch-icon" href="{{ to_root }}apple-touch-icon.png" />
        <link rel="image_src" href="{{ to_root }}apple-touch-icon.png" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{{ to_root }}static/css/stacks.css" />
        <link id="primary_css" rel="stylesheet" type="text/css" href="{{ to_root }}static/css/primary.css" />
        <link id="secondary_css" rel="stylesheet" type="text/css" href="{{ to_root }}static/css/secondary.css" />
        <link rel="stylesheet" type="text/css" href="{{ to_root }}static/css/sotoki.css" />
        {% if site_highlight %}<link rel="stylesheet" href="{{ to_root }}static/css/highlight.default.min.css">{% endif %}
        <style type="text/css">
            a.external-link { background-image: url('{{ to_root }}static/img/external-link-ltr-icon.svg'); }{% if site_css %}
            {{ site_css }}{% endif %}
        </style>
        <script type="text/javascript" src="{{ to_root }}static/js/jdenticon.min.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-hero.polyfill.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-hero.bundle.js"></script>
        <script type="text/javascript" src="{{ to_root }}static/js/webp-handler.js"></script>
        <script type="text/javascript">
            /*
             * replace an <img/> node with a jdidenticon <svg />
             * Uses it's parent .innerHTML so img should be wrapped.
             * @param img: either an HTMLImageElement or an Error event
             */
            function replaceWithJdenticon(img) {
                if (!(img instanceof HTMLImageElement)) {
                    img = img.srcElement;
                }
                if (img.getAttribute('data-jdenticon-value') || img.getAttribute('data-jdenticon-hash')) {
                    img.parentNode.innerHTML = jdenticon.toSvg(img.getAttribute('data-jdenticon-value') || img.getAttribute('data-jdenticon-hash'), img.width || img.getAttribute("data-jdenticon-width"));
                }
            }
            var webp_handler = new WebPHandler({
                on_error: replaceWithJdenticon,
                scripts_urls: ["{{ to_root }}static/js/webp-hero.polyfill.js", "{{ to_root }}static/js/webp-hero.bundle.js"],
            });

            /*
             * manually set (in-templates) on all <img /> nodes so that any error loading
             * it by the browser calls it. Used to trigger polyfill and jdenticon fallback
             * /!\ requires WebPHandler to be ready _before_ the browser attempts to 
             * load any image in the page. WebP Hero scripts should thus be included
             * syncrhonously before this */
            function onImageLoadingError(img) {
                if (img === undefined)
                    return;

                // only use polyfill if browser lacks Webp supports and wasn't already polyfied
                // polyfill replaces url with data URI
                if (!webp_handler.supports_webp && img.src.length > 0 && img.src.substr(0, 5) != "data:") {
                    webp_handler.polyfillImage(img);
                    return;
                }

                // defaults to rendering as Jdenticon
                replaceWithJdenticon(img);
            }
        </script>
        <script src="{{ to_root }}static/js/moment.min.js"></script>
        {% if site_highlight %}
        <script src="{{ to_root }}static/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {% endif %}
        {% if site_mathjax %}
        <script type="text/x-mathjax-config">
                MathJax.Hub.Config({"HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"], linebreaks: { automatic:true }, EqnChunk: (MathJax.Hub.Browser.isMobile ? 10 : 50) },
                    tex2jax: { inlineMath: [ ["$", "$"], ["\\\\(","\\\\)"] ], displayMath: [ ["$$","$$"], ["\\[", "\\]"] ], processEscapes: true, ignoreClass: "tex2jax_ignore|dno" },
                    TeX: {
                        extensions: ["begingroup.js"],
                        noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } },
                        Macros: { href: "{}" }
                    },
                    messageStyle: "none",
                    styles: { ".MathJax_Display, .MathJax_Preview, .MathJax_Preview > *": { "background": "inherit" } },
                    SEEditor: "mathjaxEditing"
            });
        </script>
        <script src="{{ to_root }}static/js/MathJax.js?config=TeX-AMS_HTML-full"></script>
        {% endif %}
    </head>
    <body class="{{ body_class}} unified-theme">
        <div class="topbar mobile-only">
            <div class="network-items">
                <a class="s-btn s-btn__unset topbar-icon js-site-switcher-button icon-site-switcher-bubble" aria-expanded="false"><span class="hidden">Stack Exchange</span></a>
                <div class="site-name"><a href="{{ to_root }}">{{ site_title }}{% if is_meta %}<small class="-subtitle">meta</small>{% endif %}</a></div>
                <div class="-actions ai-center"></div>
            </div>
        </div>
        <nav class="nav mobile-only">
            <ul>
                <li {% if whereis == 'questions' %}class="current"{% endif %}><a href="{{ to_root }}questions" title="Questions">Questions</a></li>
                <li {% if whereis == 'tags' %}class="current"{% endif %}><a href="{{ to_root }}tags" title="Tags">Tags</a></li>
                {% if not conf.without_user_profiles %}<li {% if whereis == 'users' %}class="current"{% endif %}><a href="{{ to_root }}users" title="Users">Users</a></li>{% endif %}
                <li {% if whereis == 'about' %}class="current"{% endif %}><a href="{{ to_root }}about" title="About">About</a></li>
            </ul>
        </nav>
        <header class="site-header desktop-only">
            <div class="site-header--container">
                <a class="site-header--link fs-headline1 fw-bold" href="{{ to_root }}">{{ site_title }}{% if is_meta %}<span class="ml4 o60 fw-normal">Meta</span>{% endif %}</a>
            </div>
        </header>
        {% block fullwidth %}{% endblock %}
        <div class="container">
            <div id="left-sidebar" data-is-here-when="md lg" class="left-sidebar js-pinned-left-sidebar ps-relative">
                <div class="left-sidebar--sticky-container js-sticky-leftnav">
                    <nav role="navigation">
                        <ol class="nav-links">
                            <li>
                                <ol class="nav-links">
                                    <li class="fs-fine tt-uppercase ml8 mt16 mb4 fc-light d-none">Public</li>
                                    <li class="{% if whereis == 'questions' %}youarehere{% endif %}">
                                        <a id="nav-questions" href="{{ to_root }}questions" class="pl8 js-gps-track nav-links--link -link__with-icon" data-gps-track="top_nav.click({is_current:true, location:2, destination:1})" aria-controls="" data-controller="" data-s-popover-placement="right">
                                            <svg aria-hidden="true" class="svg-icon iconGlobe" width="18" height="18" viewBox="0 0 18 18">
                                                <path d="M9 1C4.64 1 1 4.64 1 9c0 4.36 3.64 8 8 8 4.36 0 8-3.64 8-8 0-4.36-3.64-8-8-8zM8 15.32a6.46 6.46 0 01-4.3-2.74 6.46 6.46 0 0 1-.93-5.01L7 11.68v.8c0 .88.12 1.32 1 1.32v1.52zm5.72-2c-.2-.66-1-1.32-1.72-1.32h-1v-2c0-.44-.56-1-1-1H6V7h1c.44 0 1-.56 1-1V5h2c.88 0 1.4-.72 1.4-1.6v-.33a6.45 6.45 0 013.83 4.51 6.45 6.45 0 0 1-1.51 5.73v.01z"></path>
                                            </svg>
                                            <span class="-link--channel-name">Questions</span>
                                        </a>
                                    </li>
                                    <li class="{% if whereis == 'tags' %}youarehere{% endif %}">
                                        <a id="nav-tags" href="{{ to_root }}tags" class=" js-gps-track nav-links--link">
                                            <div class="grid ai-center"><div class="grid--cell truncate">Tags</div></div>
                                        </a>
                                    </li>
                                    {% if not conf.without_user_profiles %}
                                    <li class="{% if whereis == 'users' %}youarehere{% endif %}">
                                        <a href="{{ to_root }}users" id="nav-users" class=" js-gps-track nav-links--link">
                                            <div class="grid ai-center"><div class="grid--cell truncate">Users</div></div>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="{% if whereis == 'about' %}youarehere{% endif %}">
                                        <a href="{{ to_root }}about" id="nav-about" class=" js-gps-track nav-links--link">
                                            <div class="grid ai-center"><div class="grid--cell truncate">About</div></div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div id="content" class="">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <script src="{{ to_root }}static/js/stack-icons.js"></script>
        <script>
            /* replace <time class="fromnow" /> with human delta between `datetime` attr and now */
            document.addEventListener('DOMContentLoaded', function(){
                var time_elements = document.querySelectorAll("time.fromnow");
                for (var i=0; i<time_elements.length; i++) {
                    time_elements[i].innerHTML = moment(time_elements[i].getAttribute("datetime")).fromNow();
                }
            });
        </script>
        {% block bodytail %}{% endblock %}
    </body>
</html>
