{% extends "base.html" %}
{% block content %}
        <div id="mainbar-full">
            <div class="grid">
                <h1 class="grid--cell fl1 fs-headline1">Most Popular</h1>
            </div>
            <div class="grid ai-end mb16 sm:fd-column">
                <div class="grid--cell fl1 fs-body1 sm:mb16">
                    {% for tag in popular_tags %}
                    <a href="{{ to_root }}questions/tagged/{{ tag }}" class="post-tag no-tag-menu" title="Show questions relating to {{ tag }}" rel="tag">{{ tag }}</a>
                    {% endfor %}
                    <a class="more-tags" href="{{ to_root }}tags">more&nbsp;tags</a>
                </div>
            </div>
            <div>
                <div class="grid ai-center jc-space-between mb12 sm:fd-column sm:ai-stretch">
                    <div class="fs-body3 grid--cell fl1 mr12 sm:mr0 sm:mb12">{{ page_obj.paginator.count }} questions</div>
                </div>
            </div>
            <div id="questions">
                {% for question in questions %}
                    {% include "question_list_item.html" %}
                {% endfor %}
                {% with target="questions" %}{% include "pagination.html" %}{% endwith %}
            </div>
        </div>
{% endblock %}
