{% extends "base.html" %}
{% block content %}
        <div id="mainbar-full">
            <div class="grid">
                <div class="grid fl1 mb24"><h1 class="grid--cell fs-headline1 mb0">Questions tagged [{{ name }}]</h1></div>
            </div>
            <div id="questions" class="bc-black-100 mln24 pl24">
                {% if excerpt or description %}<div class="s-prose js-post-body">
                    {% if excerpt %}<div class="welovestackoverflow" id="wiki-excerpt"><p>{{ excerpt|rewrote(to_root) }}</p></div>{% endif %}
                    {% if description %}{{ description|rewrote(to_root) }}{% endif %}
                </div>{% endif %}

                <div>
                    <div class="grid ai-center jc-space-between mb12 sm:fd-column sm:ai-stretch">
                        <div class="fs-body3 grid--cell fl1 mr12 sm:mr0 sm:mb12">{{ nb_questions }} questions</div>
                    </div>
                </div>

                {% for question in questions %}
                    <div class="mln24">
                    {% include "question_list_item.html" %}
                    </div>
                {% endfor %}

                {% with target=["questions", "tagged", name]|join("/") %}{% include "pagination.html" %}{% endwith %}
            </div>
        </div>
{% endblock %}
