Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
docopt==0.6.2
python-slugify==4.0.0
pydenticon==0.3.1
beautifulsoup4==4.9.0
python-magic==0.4.15
mistune>=2.0.0a3
Pillow==7.1.1
kiwixstorage>=0.2,<1.0
pif==0.8.2

