<div class="post">
  <div class="post-container">
    <div class="reputation">
      {% if post["Score"] >= 0 %}
        <div class="score">
          <p><i class="glyphicon glyphicon-triangle-top {{ post["Score"] | scale }}"></i></p>
          <p>{{ post["Score"] | intspace }}</p>
        </div>
      {% else %}
        <div class="score">
          <p>{{ post["Score"] | intspace }}</p>
          <p><i class="glyphicon glyphicon-triangle-bottom {{ post["Score"] | scale }}"></i></p>
        </div>
      {% endif %}
      {% if post["FavoriteCount"] %}
        <div>
          <p class="favorites {{ post["FavoriteCount"] | scale }}"><i class="glyphicon glyphicon-star"></i></p>
          <p><span>{{ post["FavoriteCount"] | intspace }}</span></p>
        </div>
      {% endif %}
      {% if post["Accepted"] and post["Accepted"] == True %}
        <div class="accepted">
          <p><i class="glyphicon glyphicon-ok"></i></p>
        </div>
      {% endif %}
    </div>
    {# FIXME, remove the decode #}
    <div class="body">{{ post["Body"] | safe }}</div>
  </div>
  {% if post["Tags"] %}
    <div class="tags">
      <ul>
        {% for tag in post["Tags"] %}
          <li><a href="{{ rooturl }}/tag/{{ tag }}/1.html"><i class="glyphicon glyphicon-tag"></i> {{ tag }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if post["OwnerUserId"] %}
    <div class="author">
      <div>
          <div> 
                {% if post["OwnerUserId"]["Path"] %}<a class="profile" href="../user/{{ post["OwnerUserId"]["Path"] }}.html"> {% endif %}
                {% if post["OwnerUserId"]["Id"] %}<img src="../static/identicon/{{ post["OwnerUserId"]["Id"] }}.png" /> {% endif %}
                <p>{{ post["OwnerUserId"]["DisplayName"] }}</p>
                {% if post["OwnerUserId"]["Path"] %}</a>{% endif %}   
                <p>Posted <span class="date" title="{{ question["CreationDate"] }}">{{ question["CreationDate"] }}</span></p>
                <p>Reputation: {{ post["OwnerUserId"]["Reputation"] | intspace }}</p>
          </div>
      </div>
    </div>
  {% endif %} 
  {% if post["ClosedDate"] %}
    <div class="closed-banner">
      {% if post["ClosedDate"] %}
        <p>Question was closed <span class="date" title="{{ post["ClosedDate"] }}">{{ post["ClosedDate"] }}</span></p>
      {% endif %}
    </div>
  {% endif %}
  {% if post["comments"] %}
    <div class="comments">
      {% for comment in post["comments"] %}
        <div class="comment">
          <p>
            {% if comment["Score"] != 0 %}
              <span class="score {{ comment["Score"] | scale }}">{{ comment["Score"] }}</span>
            {% endif %}
            <span class="text">{{ comment["Text"] | safe }}</span> – {% if comment["Path"] %}<a href="{{ rooturl }}/user/{{ comment["Path"] }}.html">{% endif %}{{ comment["UserDisplayName"] }} {% if comment["Path"] %}</a>{% endif %} – <span class="date" title="{{ comment["CreationDate"] }}">{{ comment["CreationDate"] }}</span>
            </p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
