{% extends "base.html" %}

{% block bodyclass %}tag{% endblock %}
{% block title %}{{ tag }}{% endblock %}
{% block body %}
  <div class="row">
    <h2 class="title"><i class="glyphicon glyphicon-tag"></i> Tag: {{ tag }}</h2>
  </div>
  <div class="row">
    <div class="col-md-8">
      {% for question in questions %}
        <p class="question"><span class="score {{ question["Score"] | scale }}">{{ question["Score"] }}</span> <a href="{{ rooturl }}/question/{{ question["filepath"] }}.html">{{ question["Title"] }}</a> <span class="date" title="{{ question["CreationDate"] }}">{{ question["CreationDate"] }}</span></p>
      {% endfor %}
        <div class="pagination">
        <p>
      {% if hasprevious %}
          <a href="{{previous}}.html" class=button><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
      {% endif %}
      {% if hasnext %}
          <a href="{{next}}.html" class=button>Next <i class="glyphicon glyphicon-chevron-right"></i></a>
      {% endif %}
       </p>
        </div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <script src="{{ rooturl }}/static/main.js"></script>
  <div id="footer"></div>
{% endblock %}
