{% extends "base.html" %}

{% block bodyclass %}user{% endblock %}

{% block title %}{{ user["DisplayName"] }}{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title"><i class="glyphicon glyphicon-user"></i> Profile of: {{ user["DisplayName"] }}</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div> 
        <img src="../static/identicon/{{ user["Id"] }}.png" style="width:164px; height:164px;" /> 
      </div> 
      <p class="reputation">Reputation: <span>{{ user["Reputation"] | intspace }}</span></p>
    </div>
    <div class="col-md-4">
      <div>{{ user["AboutMe"] }}</div>
    </div>
    <div class="row col-md-3">
      <div class="row">
        {% if user["WebsiteUrl"] %}<p><a href="{{ user["WebsiteUrl"] }}">{{ user["WebsiteUrl"] }}</a></p>{% endif %}
        <p>member since <span class="date" title="{{ user["CreationDate"] }}">{{ user["CreationDate"] }}</span></p>
        <p>{{ user["Views"] | intspace }} profile views</p>
      </div>
    </div>
  </div>
  {% if user["badges"] %}
   <div class=badgesblob>
    <h3><i class="glyphicon glyphicon-certificate"></i> Badges </h3>
    <table>
    {% for tag in user["badges"] %}
      <tr><th><div class=badge>{{ tag }}</div></th><td>x {{ user["badges"][tag] }}</td></tr>
    {% endfor %}
    </table>
   </div>
  {% endif %}
  <script src="{{ rooturl }}/static/main.js"></script>  
  <div id="footer"></div>
{% endblock %}
