#header {
    background: #FC9A24;
    padding: 15px;
}

#header h1 {
    padding: 0px;
    margin: 0px;
}

/* #container { */
/*     padding: 15px; */
/*     max-width: 700px; */
/*     margin: auto; */
/* } */

.post {
    border: 1px solid #EEE;
    padding: 15px;
    margin-bottom: 15px;
}

.post .reputation {
    font-size: 36px;
    text-align: right:
}

.post .body {
    padding: 15px;
}

.post .comments {
    border: 1px solid #EEE;
    padding: 10px;
}

.post .comments .comment {
    border: 1px solid #EEE;
    padding: 5px;
    margin-bottom: 5px;
}

.post .comments .comment:last-child {
    margin-bottom: 0px;
}