/* post */

.post {
    border-bottom: 1px solid #EEE;
    padding: 15px;
    margin-bottom: 15px;
}

#question .post {
    border: 0px;
}

.post .post-container {
    display: flex;
    
}

/** reputation **/

.post .reputation {
    padding-right: 15px;
}

.post .reputation > div {
    margin-bottom: 15px;
}

.post .reputation p {
    text-align: center;
    padding: 0px;
    margin: 0px;    
    font-size: 22px;
}

.post .reputation .score .glyphicon {
    font-size: 36px;
    color: #FC9A24;
    margin: 0px;                   
}

.post .reputation .favorites .glyphicon {
    font-size: 36px;
    color: hsl(50, 100%, 50%);
    margin: 0px;
}

.post .body {
    padding: 15px;
}

.post .body blockquote {
    font-size: 0.8em;
}

/** author **/

.post .author {
    text-align: right;
}

.post .author > div {
    display: inline-block;
    padding: 10px 20px;;
    background: #eee;
}

.post .author > div > div {
    text-align: left;
    display: flex;
    justify-content: flex-begin;
}

.post .author img {
    padding: 5px;
}

.post .author p {
    margin: 0px;
}

/* comments */

.post .comments {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #EEE;
    font-size: 0.9em;

}

.post .comments .comment {
    border-bottom: 1px solid #EEE;
    padding: 5px;
    margin-bottom: 5px;
}

.post .comments .comment .text {
    display: inline;
}

.post .comments .comment .score {
    display: inline-block;
    min-width: 1.6em;
    min-height: 1.6em;
    background: #eee;
    text-align: center;
}

.post .comments .comment:last-child {
    margin-bottom: 0px;
}