{% extends "base.html" %}

{% block bodyclass %}question{% endblock %}

{% block title %}{{ question.title }}{% endblock %}
{% block keywords %}{% for tag in question.tags %}{{ tag.tag.name }} {% endfor %}{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title">{{ question.title }}</h2>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div id="question">
        {% set post = question %}
        {% include "post.mixin.html" %}
      </div>
      {% if question.answers %}
        <h2>Answers</h2>
        <div id="answers">
          {% for post in question.answers %}
            {% include "post.mixin.html" %}
          {% endfor %}
        </div>
      {% else %}
        <h2>No answers</h2>
      {% endif %}
    </div>
    <div class="row col-md-3">
      <div class="row">
        <p>asked: <span class="date" title="{{ question.created_at }}">{{ question.created_at }}</span></p>
        <p>viewed: {{ question.view_count | intspace }} times</p>
        <p>active: <span class="date" title="{{ question.last_active_date }}">{{ question.last_active_date }}</span></p>
      </div>
      {% if question.links %}
        <div id="related" class="row">
          <h3>Related</h3>
          <ul>
            {% for link in question.links %}
              {% if link.post.title %}
                <li><a href="{{ rooturl }}/posts/{{ link.post.id }}.html" >{{ link.post.title }}<a></li>
              {% endif %}
            {% endfor %}
            <ul>
        </div>
      {% else %}
        <div id="related" class="row">
          <h3>Related</h3>
          <ul>
            {% for related in question.relateds %}
              {% if related.post.title %}
                <li><a href="{{ rooturl }}/posts/{{ related.post.id }}.html" >{{ related.post.title }}<a></li>
              {% endif %}
            {% endfor %}
            <ul>
        </div>
    {% endif %}
    </div>
  </div>
  <script src="/static/main.js"></script>
{% endblock %}
