<div class="post">
  <div class="post-container">
    <div class="reputation">
      {% if post.score >= 0 %}
        <div class="score">
          <p><span class="glyphicon glyphicon-triangle-top {{ post.score | scale }}"></span></p>
          <p>{{ post.score | intspace }}</p>
        </div>
      {% else %}
        <div class="score">
          <p>{{ post.score | intspace }}</p>
          <p><span class="glyphicon glyphicon-triangle-bottom {{ post.score | scale }}"></span></p>
        </div>
      {% endif %}
      {% if post.favorite_count %}
        <div>
          <p class="favorites {{ post.favorite_count | scale }}"><span class="glyphicon glyphicon-star"></span></p>
          <p><span>{{ post.favorite_count | intspace }}</span></p>
        </div>
      {% endif %}
    </div>
    {# FIXME, remove the decode #}
    <div class="body">{{ post.body | safe }}</div>
  </div>
  {% if post.tags %}
    <div class="tags">
      <ul>
        {% for tag in post.tags %}
          <li><a href="{{ rooturl }}/tag/{{ tag.tag.name }}/1.html">{{ tag.tag.name }}</a></li>
        {% endfor %}
    </div>
  {% endif %}
  {% if post.owner %}
    <div class="author">
      <div>
        <p>asked <span class="date" title="{{ question.created_at }}">{{ question.created_at }}</span></p>
        <div>
          {# <div> #}
          {#   <img src="http://lorempixel.com/32/32/" /> #}
          {# </div> #}
          <div>
            <p>{{ post.owner.name }}</p>
            <p>{{ post.owner.reputation | intspace }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if post.closed_at %}
    <div class="closed-banner">
      {% if post.closed_at %}
        <p>Question was closed <span class="date" title="{{ post.closed_at }}">{{ post.closed_at }}</span></p>
      {% endif %}
    </div>
  {% endif %}
  {% if post.comments %}
    <div class="comments">
      {% for comment in post.comments %}
        <div class="comment">
          <p>
            <span class="score {{ comment.score | scale }}">{% if comment.score != 0 %}{{ comment.score }}{% endif %}</span>
            <span class="text">{{ comment.text | urlize | markdown }}</span>
            –
            <a href="{{ rooturl }}/user/{{ comment.user.id }}.html">{{ comment.user.name }}</a>
            <span class="date" title="{{ comment.created_at }}">{{ comment.created_at }}</span>
            </p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
