<div class="post">
  <div class="post-container">
    <div class="reputation">
      {% if post.Score >= 0 %}
        <div class="score">
          <p><span class="glyphicon glyphicon-triangle-top {{ post.Score | scale }}"></span></p>
          <p>{{ post.Score | intspace }}</p>
        </div>
      {% else %}
        <div class="score">
          <p>{{ post.Score | intspace }}</p>
          <p><span class="glyphicon glyphicon-triangle-bottom {{ post.Score | scale }}"></span></p>
        </div>
      {% endif %}
      {% if post.FavoriteCount %}
        <div>
          <p class="favorites {{ post.FavoriteCount | scale }}"><span class="glyphicon glyphicon-star"></span></p>
          <p><span>{{ post.FavoriteCount | intspace }}</span></p>
        </div>
      {% endif %}
    </div>
    {# FIXME, remove the decode #}
    <div class="body">{{ post.Body | safe }}</div>
  </div>
  {% if post.Tags %}
    <div class="tags">
      <ul>
        {% for tag in post.outgoings().select(link='tag').end().get() %}
          {{ tag }}
          <li><a href="/tag/{{ tag.TagName }}/index.html">{{ tag.TagName }}</a></li>
        {% endfor %}
    </div>
  {% endif %}
  {% set author = post.outgoings().select(link='owner').end().one(None) %}
  {% if author %}
    <div class="author">
      <div>
        <p>asked <span class="date" title="{{ question.CreationDate }}">{{ question.CreationDate }}</span></p>
        <div>
          <div>
            <img src="http://lorempixel.com/32/32/" />
          </div>
          <div>
            <p><a href="/user/{{ author.Id }}.html">{{ author.DisplayName }}</a></p>
            <p>{{ author.Reputation | intspace }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% set comments = post.outgoings().select(link='comment').end().get() %}
  {% if comments %}
    <div class="comments">
      {% for comment in comments %}
        {% set author = comment.outgoings().select(link='author').end().one(None) %}
        <div class="comment">
          <p>
            <span class="score {{ comment.Score | scale }}">{{ comment.Score }}</span>
            <span class="text">{{ comment.Text | urlize | markdown }}</span>
            –
            <a href="/user/{{ author.Id }}.html">{{ author.DisplayName }}</a>
            <span class="date" title="{{ post.CreationDate }}">{{ comment.CreationDate }}</span>
            </p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
