{% extends "base.html" %}

{% block bodyclass %}question{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title">{{ post.Title }}</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="question">
        {% include "post.mixin.html" %}
      </div>
      {% if answers %}
        <h2>Answers</h2>
        <div id="answers">
          {% for post, comments in answers %}
            {% include "post.mixin.html" %}
          {% endfor %}
        </div>
      {% else %}
        <h2>No answers</h2>
      {% endif %}
    </div>
    <div class="row col-md-3">
      <div class="row">
        <p>asked: <span class="date" title="{{ post.CreationDate }}">{{ post.CreationDate }}</span></p>
        <p>viewed: {{ post.ViewCount | intspace }} times</p>
        <p>active: <span class="date" title="{{ post.LastActivityDate }}">u{{ post.LastActivityDate }}</span></p>
      </div>
      {% if related %}
        <div class="row">
          <h3>Related</h3>
          <ul>
          {% for post in related %}
            <li><a href="/posts/{}.html" {{post.Id }}>{{ post.Title }}<a></li>
          {% endfor %}
          <ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
