{% extends "base.html" %}

{% block bodyclass %}tag{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title">{{ tag.TagName }}</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% for question in questions %}
        <p class="question"><span class="score {{ question.Score | scale }}">{{ question.Score }}</span> <a href="/posts/{{ question.PostId }}.html">{{ question.Title }}</a> <span class="date" title="{{ question.CreationDate }}">{{ question.CreationDate }}</span></p>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <p><a href="{{ index - 1}}.html">previous</a> <a href="{{ index + 1}}.html">next</a></p>
  </div>
  <script src="/static/main.js"></script>
{% endblock %}
