{% extends "base.html" %}

{% block bodyclass %}tag{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title">{{ tag.name }}</h2>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% for question in questions %}
        <p class="question"><span class="score {{ question.score | scale }}">{{ question.score }}</span> <a href="{{ rooturl }}/question/{{ question.id }}.html">{{ question.title }}</a> <span class="date" title="{{ question.created_at }}">{{ question.created_at }}</span></p>
      {% endfor %}
      {% if hasnext %}
        <div class="pagination">
          <p><a href="{{next}}.html">Next</a></p>
        </div>
      {% endif %}
    </div>
  </div>
  <script src="/static/main.js"></script>
{% endblock %}
