{% extends "base.html" %}

{% block bodyclass %}user{% endblock %}

{% block title %}{{ user.name }}{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="title">{{ user.name }}</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div> 
        <img src="http://lorempixel.com/164/164/" /> 
      </div> 
      <p class="reputation"><span>{{ user.reputation | intspace }}</span> reputation</p>
    </div>
    <div class="col-md-4">
      <div>{{ user.bio }}</div>
    </div>
    <div class="row col-md-3">
      <div class="row">
        {% if user.website %}<p><a href="{{ user.website }}">{{ user.website }}</a></p>{% endif %}
        <p>member since <span class="date" title="{{ user.created_at }}">{{ user.created_at }}</span></p>
        <p>{{ user.views | intspace }} profile views</p>
      </div>
    </div>
  </div>
  <script src="/static/main.js"></script>  
{% endblock %}
